<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pony Search</title>
  </head>

  <body ng-app="PonySearch"> <!-- you can have multiple apps per page -->
    <div class="wrapper" data-ng-controller="MainCtrl">
      <p ng-bind="message"></p>
      <label for="search">Search Ponies!!!</label>
      <input  id="search"
              name="search"
              placeholder="Enter Keyword"
              autofocus
              ng-model="keyword" />
      <input type="submit" value="Search" ng-click="search()">

      <p> You searched for <span ng-bind="keyword"></span>.</p>
      <section>
        <p ng-repeat="result in results" ng-bind="result"></p>
      </section>
    </div>
    <script src="lib/angular.min.js"></script>
    <script src="javascripts/app.js"></script>

  </body>
</html>